<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>home.jsp</welcome-file>
        <welcome-file>Signin.html</welcome-file>
        <welcome-file>Signup.html</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>ShowMentorServlet</servlet-name>
        <servlet-class>controller.ShowMentorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HeaderServlet</servlet-name>
        <servlet-class>controller.HeaderServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestServlet</servlet-name>
        <servlet-class>controller.RequestServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>controller.LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProfileServlet</servlet-name>
        <servlet-class>controller.ProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchMentorByNameServlet</servlet-name>
        <servlet-class>controller.SearchMentorByNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchSkillByNameServlet</servlet-name>
        <servlet-class>controller.SearchSkillByNameServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BecomeMentorServlet</servlet-name>
        <servlet-class>controller.BecomeMentorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>controller.authentication.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>controller.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateCVMentorServlet</servlet-name>
        <servlet-class>controller.UpdateCVMentorServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SuggestMentorByIDServlet</servlet-name>
        <servlet-class>controller.SuggestMentorByIDServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailOfMentorServlet</servlet-name>
        <servlet-class>controller.ViewDetailOfMentorServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ShowMentorServlet</servlet-name>
        <url-pattern>/mentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HeaderServlet</servlet-name>
        <url-pattern>/header</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestServlet</servlet-name>
        <url-pattern>/request</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/logout</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProfileServlet</servlet-name>
        <url-pattern>/profile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchMentorByNameServlet</servlet-name>
        <url-pattern>/searchmentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchSkillByNameServlet</servlet-name>
        <url-pattern>/searchskill</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BecomeMentorServlet</servlet-name>
        <url-pattern>/becomementor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/register</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/registeracc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateCVMentorServlet</servlet-name>
        <url-pattern>/updatecvmentor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SuggestMentorByIDServlet</servlet-name>
        <url-pattern>/suggestmentorbyid</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailOfMentorServlet</servlet-name>
        <url-pattern>/detailmentor</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
